.testimonials {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.testimonials-container {
  text-align: center;
  margin-bottom: 4.8rem;
}
.testimonials-heading {
  text-transform: uppercase;
  color: var(--textColor);
  font-size: 2.4rem;
  font-weight: 600;
}

.grid--3-cols {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--darkoliveColor);
  border-radius: 6px;
  padding: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.02);
  color: var(--textColor);
}
blockquote,
.stars {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.testimonial-name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
.testimonial img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}
.stars {
  margin-bottom: 0.5rem;
}

.lbl,
.lbl1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.lbl1 {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
.inpt,
.comment {
  padding: 0.8rem 1rem;
  width: 100%;
  height: 3.4rem;
  border: 1px solid var(--gray-300);
  margin-bottom: 1.2rem;
  border-radius: 6px;
}
.inpt:focus,
.comment:focus {
  outline: none;
  border-color: var(--dustyRose);
  box-shadow: 0 0 0 2px rgb(210, 153, 194, 0.1);
}
.comment {
  height: 8rem;
}
.bttn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all var(--main-transition);
  cursor: pointer;
  border: none;
  background-color: var(--dustyRose);
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 20px;
}
.bttn:hover {
  background-color: var(--darkdustyRose);
}

.grid--2--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* CONTACT US */
.contact-container {
  display: flex;
  gap: 2rem;
  color: var(--textColor);
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid var(--textColor);
  padding-right: 2rem;
}
.contact p {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.4rem;
}
.contact-bg .icons {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.2rem;
}
.contact-form {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.contact-form p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* footer */
.footer {
  background-color: var(--darkoliveColor);
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
  height: 18rem;
  color: var(--textColor);
}
.footer-div {
  /* display: flex;
    align-items: center;
    gap: 3.2rem; */
  width: 40%;
}
footer p {
  font-size: 15px;
}
footer h5 {
  font-size: 18px;
  color: var(--whiteColor);
}
footer h6 {
  font-size: 18px;
  color: var(--whiteColor);
  margin-bottom: 4px;
}
footer span {
  font-size: 15px;
  margin-top: 1.4rem;
  text-transform: capitalize;
}
.footer .icons {
  font-size: 18px;
  display: flex;
  gap: 1rem;
}

/* queries */

@media (max-width: 1030px) {
  .grid--2--cols {
    column-gap: 2rem;
  }
}
/* @media (max-width: 835px) {
  html {
    font-size: 50%;
  }
} */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .contact {
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
    border: 0;
    justify-content: center;
    order: 2;
    padding: 0;
  }
  .contact-form {
    width: 70%;
    margin: 0 auto;
    order: 1;
    border-bottom: 1px solid var(--textColor);
    padding: 0;
    padding-bottom: 4.8rem;
  }
}
